@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    padding:0;
    margin:0;
    font-family: 'Ubuntu',sans-serif;
    font-size: 0.9vw;
}

body{
    height:100vh;
    width:100vw;
}

.main{
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 10fr 1fr;
    height:100vh;
    width:100vw;
}

.sidebar{
    grid-area: 1/1/4/2;
    display:grid;
    grid-template-rows: 1fr 8fr 5fr;
    background-color: #ABC4AA;
    padding-left: 15px;
}

.content .majort{
    font-weight: bold;
    font-size: 1vw;
}

.side-header{
    display:grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom:10px;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
}

.sidebar ul{
    display:grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: repeat(6,1fr) 2.5fr repeat(3,1fr);
    list-style-type: none;
    align-items: center;
}

.header{
    grid-area: 1/2/2/3;
    background-color: white;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    position:relative;
    box-shadow: 0px 2px 7px rgb(160, 157, 157);
}

.header form{
    display:grid;
}

.header input{
    justify-self:stretch;
}

.header .top{
    display:grid;
    grid-template-columns: 0.5fr 8fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items:center;
}

.header .top .notifications, .magni{
    height:2vh;
    width:2vh;
}

.header .magni{
    justify-self: right;
    padding-right: 0.75vw;
}

.header .notifications{
    justify-self: right;
    padding-right: 1vw;
}

.header .top .userimagetop img{
    height:4vh;
    width:4vh;
}

.header div .userimagebot, .userimagetop{
    justify-self: center;
    border-radius: 50px;
    border-style: white;
    padding:5px;
}


.header .bottom .userimagebot{
    grid-area: 1/1/3/2;
    align-items: center;
}

.header .bottom .userimagebot img{
    height:6vh;
    width:6vh;
}

.header .searchbar{
    background-color: #F3DEBA;
    border-radius: 10px;
    border: none;
    height:3vh;
    padding-left: 10px;
}

.header .searchbar:focus{
    border:none;
    outline:none;
    background:#c2b193;
}

.header .bottom{
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns:1fr 7fr 1fr 1fr 1fr 0.50fr;
    align-items:center;
}

.header .bottom .username{
    grid-area: 2/2/3/3 
}

.header .bottom button{
    grid-row: 1/3;
    background-color: #ABC4AA;
    border-radius: 10px;
    width:6vw;
    height:3vh;
    justify-self: center;
    border: none;
}

.content{
    grid-area: 2/2/3/3;
    background-color: #F3DEBA;
    display:grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 10fr 1fr 6fr;
    gap:15px;
    padding:15px;
}
.projects {
    grid-column: 1/2;
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}

.card{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: white;
    border-radius: 10px;
    border-left: solid 7px #A9907E;
    position:relative;
    box-shadow: 0px 2px 7px rgb(160, 157, 157);
}

.card .title{
    grid-area: 1/1/2/4;
    font-weight: bold;
}

.card .cardcontent{
    grid-area: 2/1/3/4;
}

.logo1{
    grid-area: 3/2/4/3;
}

.logo2{
    grid-area: 3/3/4/4;
}

.logo3{
    grid-area: 3/4/4/5;
}

.announcements{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    background-color: white;
    border-radius: 10px;
}

.info{
    display:grid;
}

.trendingusers{
    display:grid;
    grid-template-rows: repeat(4,1fr);
    background-color: white;
    border-radius: 10px;
}

.trend{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
}

.pic{
    grid-row: 1/3;
}