*{
    padding:0;
    margin:0;
}

body{
    height:100vh;
    width:100vw;
}

.main{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width:100%;
}

.sidebar{
    grid-area: 1/1/3/2;
    background-color: #ABC4AA;
}

.header{
    grid-area: 1/2/2/3;
    background-color: #A9907E;
}

.content{
    grid-area: 2/2/3/3;
    background-color: #F3DEBA;
}